{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block content %}
</head>

<body>
<h1>Find Your Order</h1>
<form action="" method="POST">
{% csrf_token %}
Last Name: <input type="text" name="Last_Name"/><br/>
First Name: <input type ="text" name="First_Name"><br/>
<input type="submit" value="Search"/>
</form>
<br>
<table border="1">
    <tr>
        <td>Date</td>
        <td>Order Count</td>
    </tr>
    {% for x in query%}
    <tr>
    <td>{{ x.0}}</td>
    <td>{{ x.1}}</td>
    </tr>
    {% endfor %}
</table>
<!-- <html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div>SQL script
        <p>
            SELECT o.Date, COUNT(o.Order_ID)
            FROM Customers c JOIN Orders o USING(Customer_Id)
            WHERE c.Last_Name LIKE "C%" 
            GROUP BY o.Date
            ORDER BY o.Date;
        </p>
    </div>
    <div>
        {% for obj in query %}
        <p>{{obj.0}} - {{obj.1}}</p>
        {% endfor %}
    </div>
</head>
<body> -->

</body>
<!-- </html> -->
{%endblock%}