{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block content %}
</head>

<body>
<h1>Filter the Restaurant</h1>
<form action="" method="POST">
{% csrf_token %}
Price1: <input type="text" name="Price1"/><br/>
Cuisine Type 1: <input type="text" name="Cuisine_Type1"/><br/>
Price2: <input type ="text" name="Price2"><br/>
Cuisine Type 2: <input type="text" name="Cuisine_Type2"/><br/>
<input type="submit" value="Search"/>
</form>
<br>
<table border="1">
    <tr>
        <td>Restaurant ID</td>
        <td>Restaurant Name</td>
    </tr>
    {% for x in query%}
    <tr>
    <td>{{ x.0}}</td>
    <td>{{ x.1}}</td>
    </tr>
    {% endfor %}
</table>
</body>
<!-- </html> -->
{%endblock%}