{% extends 'main.html' %}

{% block content %}

    <h>Easy dinner - Order food from us</h>
    <br>
    <h>Before ordering food from our platform, we recommend following UIUC's best professor in Twitter:)</h>
    <br>
    <p>
        <a href="https://twitter.com/aalawini?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @aalawini</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <br>
    <a class="twitter-timeline" data-width="500" data-height="1000" href="https://twitter.com/aalawini?ref_src=twsrc%5Etfw">Tweets by aalawini</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {%if customers%}
        <p> Customer List<p>
        <table border="1">
            <tr>
                <td>Customer ID</td>
                <td>Last Name</td>
                <td>First Name </td>
                <td>Address</td>
                <td>Phone</td>
                </tr>
            {% for x in customers %}
            <tr>
            <td>{{ x.customer_id }}</td>
            <td>{{ x.last_name }}</td>
            <td>{{ x.first_name }}</td>
            <td>{{ x.address}}</td>
            <td>{{ x.phone}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{%endblock%}