{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block content %}
</head>

<body>
<h1>Make an Order</h1>
<h3> Royal Customer Promotion </h3>
<h5> 5 Orders at one restaurant: 10% OFF! </h5>
<h5> 10 Orders at one restaurant: 15% OFF! </h5>
<h5> 20 Orders at one restaurant: 20% OFF! </h5>
<p> Restaurant: Papa Murphy's </p>
<p> Please select food to order: </p>

<form action='' method='POST'>
    {% csrf_token %}
    <input type="checkbox" id="184" name="orderItem" value="184" price=10.99>
    <label for="184"> Chicken Bacon Artichoke Price: 10.99</label><br>

    <input type="checkbox" id="185" name="orderItem" value="185" price=10.99>
    <label for="185"> Cowboy Price: 10.99</label><br>

    <input type="checkbox" id="186" name="orderItem" value="186">
    <label for="186"> Create Your Own Crustless Price: 9</label><br>

    <input type="checkbox" id="187" name="orderItem" value="187">
    <label for="187"> Gourmet Vegetarian Price: 10.99</label><br>

    <input type="checkbox" id="188" name="orderItem" value="188">
    <label for="188"> Papa's All Meat  Price: 10.99</label><br>

    <input type="checkbox" id="189" name="orderItem" value="189">
    <label for="189"> Papa's Favorite - Keto Friendly Price:10.99</label><br>

    <input type="checkbox" id="192" name="orderItem" value="192">
    <label for="192"> Murphy's Combo  Price:12.99</label><br>

    <input type="checkbox" id="193" name="orderItem" value="193">
    <label for="193"> Chicken Garlic Price:12.99</label><br>

    <input type="checkbox" id="201" name="orderItem" value="201">
    <label for="201"> 5-Meat Stuffed Family Price:16.99</label><br>

    <input type="checkbox" id="210" name="orderItem" value="210">
    <label for="210"> Chocolate Chip Cookie Dough Price:5</label><br>

    <input type="checkbox" id="213" name="orderItem" value="213">
    <label for="213"> Soft Drink (2-Liter Pepsi Product) Price:2.49</label><br>

    <input type="submit" value="Submit"/>
</form>

{% if orderList %}
<p> Origin Price: {{ totalPrice|floatformat:2 }} </p>
<p> Final Price: {{ finalPrice|floatformat:2 }} </p>
{% endif %}
</body>
{%endblock%}