{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block content %}
</head>

<body>
<h1>Christmas Promotion</h1>
<form action="" method="POST">
{% csrf_token %}
Customer_ID: <input type="text" name="cust_id"/><br/>
Price: <input type="text" name="price"/><br/><br/>
<input type="submit" value="Search"/>
</form>
<br>
<table border="1">
    <tr>
        <td>Order ID</td>
        <td>Order Item ID List</td>
        <td>Order Price</td>
        <td>Order Date</td>
    </tr>
    {% for x in query%}
    <tr>
    <td>{{ x.0}}</td>
    <td>{{ x.2}}</td>
    <td>{{ x.4}}</td>
    <td>{{ x.5}}</td>
    </tr>
    {% endfor %}
</table>
</body>
<!-- </html> -->
{%endblock%}